body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

    .main {
        padding: 2em;
        position: relative;
    }

        .breadcrumbs {
            font-size: 18pt;
            font-weight: 700;
            color: gray;
        }

            .breadcrumbs img {
                display: inline;
                vertical-align: middle;
                width: 80px;
                height: 70px;
            }

            .breadcrumbs-active {
                color: black;
            }

        .manageline {
            color: white;
            font-size: 16pt;
            height: 2em;
            line-height: 2em;
            padding-left: 1em;
            vertical-align: middle;
            background: #8EB4D9;
            margin-top: 1em;
        }

            .pr-send {
                float: right;
                background: #00A2FF;
                color: white;
                box-shadow: none;
                border: none;
                height: 100%;
                padding: 0.2em 3em;
            }


        .pr-form {
            width: 70%;
            vertical-align: top;
            display: inline-block;
        }
            
            .pr-form select, .pr-form input {
                margin: 10px 0;
                padding: 10px;
                height: 3em;
                background: white;
                border: 1px #C8C8C8 solid;
            }

            .pr-form-field-label {
                width: 150px;
                display: inline-block;
            }
            .pr-form-label {
                width: 200px;
                display: inline-block;
            }

                .pr-form label:after {
                    content: ':';
                }


            .pr-payment, .pr-shipping {
                margin-left: 2em;
                line-height: 3em;
                vertical-align: middle;
                font-size: 14pt;
            }
                .pr-billing {
                    margin-top: 1em;
                }

                .pr-creditcard,
                .pr-address-billing,
                .pr-address-shipping {
                    display: inline-block;
                    vertical-align: top;
                }

                    .pr-creditcard > select,
                    .pr-address-billing > select,
                    .pr-address-shipping > select {
                        width: 400px;
                        
                    }

                    .pr-creditcard-form-expire,
                    .pr-creditcard-form-expire-year {
                        width: 100px;
                    }


                    .pr-address-address,
                    .pr-address-address2,
                    .pr-address-locality {
                        width: 625px;
                    }

                    .pr-address-country {
                        width: 230px;
                    }
                    .pr-address-region {
                        width: 230px;
                    }

                    .pr-address-region-label {
                        margin-left: 37px;
                    }

                    .pr-address-form, .pr-creditcard-form {
                        width: 800px;
                        margin-left: -150px;
                    }

        .pr-summary {
            padding-top: 3em;
            display: inline-block;
            vertical-align: top;
            float: right;
            max-width: 360px;
        }

            .pr-summary p {
                display: block;
                border-radius: 6px;
                background: #E6EEF7;
                padding: 2em;
                text-align: right;
            }

            .pr-summary em {
                color: gray;
            }

            .pr-summary small {
                display: block;
            }